@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: #f2f2f2;
    font-family: sans-serif, 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 100%;
    display: flex;
    position: relative;
}

.search-input{
    width: 100%;
    padding: 5px;
    height: 20px;

    outline: none;
    color: #6759ff;

    border: 3px solid #6759ff;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.search-btn{
    background-color: #6759ff;
    border: 1px solid #6759ff;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 36px;
    text-align: center;
    color: white;
}

.container{
    width: 30%;
}